/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.2em;
  background: #002240;
  color: #DEDC00;
}

.line .hljs-comment{
  color:#FF9D00;
  font-style: normal;
}
.hljs-quote {
  color: #FFDD00;
  font-style: normal;
}

.hljs-keyword{
  color:#FFA32D;
}
.hljs-selector-tag {
  color: #FFDD00;
}
.hljs-number{
  color:#ddd;
}

.hljs-string,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #31D800;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}

.hljs-type {
  color: #da4939;
}


.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}

.hljs-params {
  color: #d0d0ff;
}

.hljs-attribute {
  color: #5AFFBA;
}

.hljs-meta {
  color: #9b859d;
}

.hljs-title{
  color: #ffc66d;
}
.hljs-section {
  color: #FF6A87;
}

.hljs-addition {
  background-color: #002240;
  color: #6390B2;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #0088FF;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #FFDC19;
}

.hljs-selector-id {   
  color: #FFDC19;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
